/* Sections
------------------------------------------------------------- */
.footer {
  position: relative;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #f846a1;
}
.footer-container {
  display: grid;
  gap: 3rem;
  @include module-container();

}
.footer-section {
  text-align: center;
  font-size: 0.9375rem;
}
.footer-section-support {
  display: none;
}
@media (min-width: 992px) {
  .footer {
    padding: 0;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1.25fr) repeat(2, 1fr);
    gap: 4rem;
    justify-content: space-between;
  }
  .footer-section,
  .footer-section:first-child,
  .footer-section:nth-last-child(2) {
    position: relative;
    text-align: left;
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  .footer-section:nth-last-child(1) {
    text-align: right;
  }
  .footer-section-support {
    display: block;
    width: 15rem;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
@media (max-width: 1280px) {
  .footer {
    margin-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  }
}
@media (min-width: 1450px) {
  .footer-container {
    grid-template-columns: repeat(2, 2fr) repeat(2, 1fr);
  }
}

/* Typography
------------------------------------------------------------- */
.footer-section h4 {
  color: #fff;
  position: relative;
  left: 325px;

}
.footer-section p,
.footer-section a {
  color: #fff;
}
.footer-section ul a {
  font-weight: 600;
  text-decoration: none;
}
.footer-section ul a:hover {
  text-decoration: underline;
  text-decoration-color: $color-accent-1;
}
.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-section li {
  display: inline-block;
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
}
.footer-section li:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  .footer-section h4 {
    margin-bottom: 1.3rem;
  }
  .footer-section li {
    display: block;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

/* Social Icons
------------------------------------------------------------- */
.footer-social-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 2.5rem));
  justify-content: center;
  gap: 1rem;
  position: relative;
  left: 485px;

}
.footer-social .socialIcon {
  display: block;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.25rem;
  color: rgb(241, 24, 107);

  &:hover {
    background-color: $color-accent-1;
  }
}
@media (min-width: 992px) {
  .footer-social-container {
    justify-content: unset;
  }
}
@media (min-width: 1450px) {
  .footer-social-container {
    gap: 1.25rem;
  }
}

/* Footer Copyright
------------------------------------------------------------- */
.footer-copyright {
  width: 100%;
  position: absolute;
  background-color: transparent;
  padding: 1rem $pad-x;
  bottom: 0;
}
.footer-copyright p {
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  left: 30px;
}
