/* Jacuzzi
------------------------------------------------------------- */
.jacuzzi {
  position: relative;
  @include module();
}
.jacuzzi-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  @include module-container();
}
.jacuzzi-media {
  order: 1;
}
.jacuzzi .poolsGrid-item {
  margin-bottom: unset;
}
@media (min-width: 992px) {
  .jacuzzi-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .jacuzzi-media {
    order: 0;
  }
}
@media (min-width: 1200px) {
  .jacuzzi {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .jacuzzi-container {
    grid-template-columns: 1fr 26rem;
    gap: 5rem;
  }
}
