/* Swap
------------------------------------------------------------- */
.swap-image {
  display: none;
  position: absolute;
}
.swap-image.left {
  left: 0;
  bottom: 0;
}
.swap-image.right {
  right: 0;
  top: 0;
}
@media (min-width: 650px) {
  .swap-image {
    display: block;
  }
}

.protocol-container {
  display: flex;

  & .protocol-routes {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    & .dex-route {
      flex: 1;
    }
  }
}
